/* variables  */

:root{
    --clr-red : #FF2525;
    --clr-white: #FFFFFF;
    --clr-lgray: #CCCFD7;
    --clr-mgray: #9597A1;
    --clr-rgray: #FFF8F8;
    --border-r: 0.75rem;
    --font-l : 300;
    --font-r : 400;
    --font-m : 500;
    --font-sb : 600;
    --font-b : 700;
}


/* Reset the value  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}

body{
    margin-inline: auto;
    width: 100%;
    max-width: 90rem;
    position: relative;
    background-color: var(--clr-white);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}


/* ----utility classes start---- */

/* container  */

.container{
    padding-inline: 1rem;
}


@media (min-width:76.25em) {
    .container{
        padding-inline: 0 ;
        max-width: 1215px;
        margin-inline: auto;
    }
}


/* section styles */

.section{
    margin-top: 50px;
}

.redSection{
    padding-top: 34px;
    padding-bottom: 40px ;
    background-color: var(--clr-rgray);
}

.mb{
    margin-bottom: 50px;
}

@media (min-width:76.25em) {
    .section{
        margin-top: 75px;
    }

    .redSection{
        padding-top: 75px;
        padding-bottom: 75px ;
    }

    .mb{
        margin-bottom: 75px;
    }
}

.sectionTitle{
    font-size: 1.25rem;
    font-weight: var(--font-b);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.sectionTitle>span{
    color: var(--clr-red);
}

.sectionTitleSub{
    display: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.607);
    font-size: 20px;
    max-width: 810px;
    margin-inline: auto;
}

@media (min-width:76.25em) {
    .sectionTitle{
        font-size: 3rem;
        margin-bottom: 25px;
    }

    .sectionTitleSub{
        display: block;
        margin-bottom: 60px;
    }
}

.sectionBtn{
    width: 183px;
    height: 56px;
    color: var(--clr-red);
    font-weight: var(--font-sb);
    border: 1px solid var(--clr-red);
    border-radius: var(--border-r);
    display: block;
    margin-inline: auto;
    letter-spacing: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sectionBtn:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
}

@media (min-width:76.25em) {
    .sectionBtn{
        width: 227px;
        height: 74px;
        margin-top: 60px;
    }
}


/* utility classes end */


/* header styler  */


.navBar{
    position: sticky;
    margin-bottom: -121px;
    top: -40px;
    width: 100%;
    z-index: 99;
    max-width: 1440px;

}

@media (min-width:76.25em) {
    .navBar{
        margin-bottom: -132px;
        top: -30px;
    }
    
}

.header-style{
    width: 100%;
    margin-inline: auto;
    padding-top: 3.125rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 3rem ;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
}

.priBtn{
    font-size: 0.875rem;
    color: var(--clr-white);
    background-color: var(--clr-red);
    border-radius: var(--border-r);
    font-weight: var(--font-m);
    height: 2.5rem;
    width: 6.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priBtn:hover{
    background-color: var(--clr-white);
    border: 2px solid var(--clr-red);
    color: var(--clr-red);
}

.hamburger{
    height: 1.5rem;
    margin-left: 15px;
    width: 25.45px;
    cursor: pointer;
}

#close{
    display: none;
    width: 76px;
    height: 76px;
}

@media (min-width:76.25em) {
    .priBtn{
        font-size: 1.125rem;
        height: 4.125rem;
        width: 183px;
    }

    .hamburger{
        height: 2.2rem;
        width: 44.55px;
        margin-left: 30px;
    }

    .logo{
        width: 5.375rem;
    }
}

.navigation{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: absolute;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}
/* 
.navigation>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-left: 75px;
    align-items: flex-start
} */

.logoNav{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: auto;
    top: 50;
    width: 76px;
    height: 76px;
}

.close{
    margin-left: auto;
    margin-right: 75px;
    cursor: pointer;
}

.close:hover>circle{
    fill: var(--clr-mgray); 
}

.close:hover>path{
    fill: var(--clr-red);
}

nav{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
}

nav>a{
    color: var(--clr-white);
    opacity: 60%;
    font-weight: var(--font-sb);
}

nav>a:hover{
    opacity: 100%;
}

.cityDropDown{
    color: var(--clr-white);
}

#dropDown{
    appearance: none;
    background-color: transparent;
    color: var(--clr-white);
}


/* hero section  */

.herosection{
    position: relative;
}

.slider{
    height: 521px;
}

.sliderContainer{
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    position: relative;
    height: 100%;
}

.sliderContainer>img{
    width: auto;
}



.sliderContainer::-webkit-scrollbar {
    display: none;
  }

.sliderContainer::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.484),rgb(0, 0, 0));
}

.slide{
    width: 100vw;
    max-width: 1440px;
    display: none;
}

.show{
    display: block;
}

.mySlides {
    display:none;
}

.arrow-left{
    background: transparent;
    cursor: pointer;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 3rem;
    display: none;
    border: none;
}

.arrow-right{
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right:  3rem;
    display: none;
    border: none;
}

.sliderPoints{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}

.slidePoint{
    width: 0.625rem ;
    height: 0.625rem;
    background-color: var(--clr-white);
    z-index: 10;
    border: 2px solid var(--clr-white);
    border-radius: 100%;
}

.active{
    background-color: var(--clr-red);
}

.heroSreachArea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.sreachAreaTitle{
    font-weight: var(--font-sb);
    color: var(--clr-white);
    font-size: 1.75em ;
    text-align: center;
}

.sreachOption{
    background-color: var(--clr-white);
    padding: 1.5625rem 1.25rem;
    border-radius: var(--border-r) ;
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 242px;
    margin-inline: auto;
    margin-top: 20px;
}

.sreachBar-wrapper{
    background-color: var(--clr-white);
    width: 100%;
    max-width: 456px;
    height: 56px;
    position: relative;
    border: 1px solid var(--clr-lgray);
    border-radius: var(--border-r);
    margin-inline: auto;  
    display: flex;
    align-items: center;
}

.sreachBar-wrapper>img{
    width: 14px;
    height: 14px;
    margin-left: 14px;
    pointer-events: none;
    position: absolute;
}

.sreachBar{
    background-color: transparent;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 36px;
    width: 100%;
    border-radius: var(--border-r);
    font-size: 12px;
    height: 56px;
}

.sreachBar:focus-visible, .cityOption:focus-visible{
    outline: 2px solid var(--clr-red);
}


.sreachBar::placeholder{
    color: var(--clr-mgray);
    font-size: 0.75rem;
    font-weight: var(--font-m);
    text-transform: capitalize;
}


.cityOption-wrapper{
    position: relative;
    width: 100%;
    border: 1px solid var(--clr-lgray);
    border-radius: var(--border-r);
    height: 56px;
    display: flex;
    align-items: center;
    margin-top: 0.625rem;
    margin-inline: auto;
}

.cityOption-wrapper>img{
    position: absolute;
    pointer-events: none;
}

.locationIcon{
    left: 14px;
    width: 12px;
    height: 15px;
}

.arrowIcon{
    right: 18px;
    width: 16px;
    height: 8px;
}

.cityOption{
    border-radius: var(--border-r);
    appearance: none;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: var(--font-m);
    padding-left: 36px;
    height: 56px;
    width: 100%;
    background-color: transparent;
}

.cityOption:checked{
    font-size: 1rem;
    color: var(--clr-mgray);
}

.sreachBtn {
    background-color: var(--clr-red);
    color: var(--clr-white);
    padding: 1rem 3rem;
    border-radius: var(--border-r);
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 0.9375rem;

}
.sreachBtn > span {
    font-weight: var(--font-sb);
    margin-left: 9px;
}

@media (min-width:76.25em) {

    .sliderContainer>img{
        width: 100%;
    }

    .arrow-left, .arrow-right{
        display: block;
    }

    .sliderPoints{
        gap: 1rem;
    }

    .slidePoint{
        width: 1rem ;
        height: 1rem;
    }

    .sreachAreaTitle{
        font-size: 4.8rem ;
        }

    .sreachOption{
        flex-direction: row;
        width: 1008px;
        height: 98px;
        padding: 16px 30px;
        margin-top: 45px;
    }

    .sreachBar-wrapper{
        margin-inline: 0;
        height: 66px;
    }

    .sreachBar::placeholder{
        font-size: 1rem;
    }

    .sreachBar{
        font-size: 15px;
        padding-left: 40px;
        height: 65px;
    }

    .cityOption-wrapper, .cityOption, .sreachBtn{
        margin: 0;
    }

    .cityOption-wrapper,.cityOption{
        width: 252px;
        height: 65px;
    }

    .cityOption-wrapper{
        margin-left: 20px;
    }

    .sreachBtn{
        margin-left: auto;
    }
}


/* Banner  */

.Banner {
    width: 100%;
    background: url('./asset/image/BannerImage.png') no-repeat;
    background-size: cover;
    height: 7.5rem;
    padding: 0.8125rem;
    border-radius: var(--border-r);
    margin-top: 30px;

}


.Banner > div{
    background-color: rgba(255, 255, 255, 0.72);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-r);
}


h1{
    font-weight: var(--font-sb);
    color: black;
    font-size: 1.3125rem;
    text-transform: uppercase;
    text-align: center;
}
h1>span{
    color: var(--clr-red);
}

@media (min-width:76.25em) {
    .Banner{
        margin-top: 40px;
        background: url('./asset/image/BannerImageD.png') ;
        height: 10rem;
    }

    .Banner>div{
        background: url('./asset/image/BannerAvataar.png') bottom right no-repeat;
        background-size: 8rem;
        background-color:rgba(255, 255, 255, 0.72) ;
    }

    h1{
        font-size: 2.5rem;
    }
}


/* Best Market Section  */

.cityCard-Wrapper{
    margin-inline: auto;
}


.cityCard{
    width: 343px;
    height: 345px;
    border-radius: var(--border-r);
    overflow: hidden;
    position: relative;
    display: block;
    flex-shrink: 0;
    margin-inline:auto ;

}

.cityCard-text{
    background-image: linear-gradient(to top, rgb(0, 0, 0),rgba(0, 0, 0, 0.424), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 21px;
    
}

.cityCard+.cityCard{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cityCard-text>h3{
    font-size: 1.5rem;
    color: var(--clr-white);
    font-weight: var(--font-sb);
}

.cityCard-text>p{
    font-size: 14px;
    color: var(--clr-white);
    letter-spacing: 2%;
}

@media (min-width:76.25em) {
    .cityCard-Wrapper{
        display: flex;
        overflow: scroll;
        padding-bottom: 41px;
        overflow-y: hidden;
    }

    .cityCard-Wrapper::-webkit-scrollbar,
    .cityCard-Wrapper::-webkit-scrollbar-thumb,
    .cityCard-Wrapper::-webkit-scrollbar-track { 
        height: 5px;
        border: none;
        background: transparent;
    }

    .cityCard-Wrapper::-webkit-scrollbar-button,
    .cityCard-Wrapper::-webkit-scrollbar-track-piece,
    .cityCard-Wrapper::-webkit-scrollbar-corner,
    .cityCard-Wrapper::-webkit-resizer {
        display: none;
    }

    .cityCard-Wrapper::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: black;
    }

    .cityCard-Wrapper::-webkit-scrollbar-track {
        background-image: url("./asset/scrollbar.png");
        background-repeat: repeat-x;
        background-size: contain;
    }

    .cityCard{
        width: 384px;
        height: 411px;
        margin-inline:0 ;
    }

    .cityCard+.cityCard{
        margin: 0 ;
        margin-left: 2rem;
    }
}


/* Products section  */

.productCard-Wrapper{
    margin-bottom: 50px;
}

.productCard{
    display: block;
    margin-inline: auto ;
    width: 280px;
    height: 309px;
    position: relative;
    border-radius: var(--border-r);
    overflow: hidden;
    box-shadow: 10px 6px 30px rgba(0, 0, 0, 0.085);
}

.productCard+.productCard{
    margin-top: 20px;
}

.productCard-text{
    position: absolute;
    top: 0;
    left: 0%;
    background-image: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: var(--border-r);
}

.productCard-text > h3{
    font-size: 25px;
    font-weight: var(--font-sb);
    color: black;
}

.productCard-text > a {
    width: 46px;
    margin-bottom: 15px;
    margin-top: 12px;
    transition: all;
    transition-duration: 200ms;
}

.productCard-text > a:hover {
    transform: scale(1.5);
}

@media (min-width:76.25em) {
    .productCard-Wrapper{
        display: flex;
        gap: 2rem;
        margin-bottom: 100px;
    }

    .productCard{
        margin-inline: 0 ;
    }

    .productCard+.productCard{
        margin-top: 0;
    }  
}


/* best shop for clothing section  */

@media (min-width:76.25em) {
    .shopCard-wrapper{
        gap: 32px;
        display: grid;
        grid-template-columns: auto auto;
    }
}

.shopCard{
    width: 343px;
    height: 444px;
    border-radius: var(--border-r);
    margin-inline: auto;
    position: relative;
}

.shopCard+.shopCard{
    margin-top: 20px;
}

@media (min-width:76.25em) {
    .shopCard{
        width: 592px;
        height: 500px;
    }

    .shopCard+.shopCard{
        margin-top: 0px;
    }
}

.shopCard-detail{
    width: 316px;
    height: 187px;
    background-color: var(--clr-white);
    margin-top: -93px;
    margin-left: 13px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    z-index: 9;
    padding-top: 31px;
    padding-bottom: 30px;
}

.shopCard-detail > h3{
    font-size: 18px;
    font-weight: var(--font-sb);
    color: black;
}

.shopCard-detail > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.shopCard-detail >div >img{
    width: 12px;
    margin-right: 7px;
}

.shopCard-detail >div >p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.604);
}

@media (min-width:76.25em) {
    .shopCard-detail{
        width: 384px;
        height: 200px;
        margin-top: -113px;
        margin-left: 104px;
        padding-top: 35px;
        padding-bottom: 34px;
    }

    .shopCard-detail > h3{
        font-size: 22px;
    }

    .shopCard-detail >div >img{
        width: 12px;
        margin-right: 7px;
    }
    
    .shopCard-detail >div >p{
        font-size: 15px;
    }
    
}

.shopCard-detail > a{
    text-transform: capitalize;
    font-size: 15px;
    color: var(--clr-white);
    background-color: black;
    padding: 18px 39px;
    border-radius: 5px;
    margin-top: 27px;
    display: block;
    width: fit-content;
    margin-inline:auto ;
}

.shopCard-detail > a:hover{
    background-color: var(--clr-red);
}

.shopCard-star{
    background-color: #EEEEEE;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.shopCard-star:hover{
    background-color: var(--clr-mgray);
}

.starBtn{
    position: absolute;
    fill: var(--clr-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media (min-width:76.25em) {
    .shopCard-star{
        top: 21px;
        right: 26px;
        width: 36px;
        height: 36px;
        cursor: pointer;
    }
}


/* What's New Section  */


.shopBox-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 13px;
    margin-inline:auto ;
}

@media (min-width:76.25em) {
    .shopBox-wrapper{
        gap:  32px;
    }
}

.shopBox{
    width: 100%;
    position: relative;
    border-radius: var(--border-r);
    overflow: hidden;
}

.shopBox>img{
    object-fit: contain;
}

.shopBox:first-child{
    grid-row-start:1 ;
    grid-row-end:3 ;
}


.shopBox-text{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    border-radius: var(--border-r);
    padding-bottom: 17px;
    padding-left: 6px;
    padding-right: 2px;
    justify-content: space-between;
}

@media (min-width:76.25em) {
    .shopBox-text{
        padding-bottom: 40px;
        padding-left: 35px;
        padding-right: 50px;
    }
}

.shopBox-text>div>h3{
    font-size: 12px;
    color: var(--clr-white);
}
.shopBox-text>div>p{
    font-size: 10px;
    color: var(--clr-white);
}

.shopBox-text>a{
    width: 26px;
}

.shopBox-text>a:hover{
    transform: scale(1.5);
}

@media (min-width:76.25em) {
    .shopBox-text>div>h3{
        font-size: 32px;
    }

    .shopBox-text>div>p{
        font-size: 20px;
    }
    
    .shopBox-text>a{
        width: 56px;
    }
}

/* Handicraft Shops  */


.handShop-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:76.25em) {
    .handShop-wrapper{
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
}

.handShopCard{
    width: 296px;
    height: 350px;
    padding: 12px;
    background-color: var(--clr-white);
    border: 1px solid #E0E0E0;
    border-radius: var(--border-r);
    display: block;
    margin-inline: auto;
}

.handShopCard > h3{
    font-size: 18px;
    color: black;
    font-weight: var(--font-m);
    margin-top: 19px;
}

.handShopCard > div{
    display: flex;
    align-items: center;
}

.handShopCard > div> img{
    width: 12px;
    margin-right: 7px;
}

.handShopCard > div> p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.604);
}


/* News Letter  */

.newsLetter{
    background-color: var(--clr-red);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 21px;
    border-radius: var(--border-r);
}

@media (min-width:76.25em) {
    .newsLetter{
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 70px 60px;
        display: flex;
        justify-content: space-between;
    } 

}
.newsLetter>form{
    display: flex;
    flex-direction: column;
}

@media (min-width:76.25em) {
    .newsLetter>form{
        flex-direction: row;
        align-items: center;
    }
}


.newsLetter>div>h2{
    font-size: 28px;
    color: var(--clr-white);
    font-weight: var(--font-b);
    text-align: center;
}

.newsLetter>div>p{
    font-size: 14px;
    color: var(--clr-white);
    text-align: center;
    margin-top: 15px;
}

@media (min-width:76.25em) {
    .newsLetter>div>h2{
        font-size: 32px;
        text-align: left;
    }
    
    .newsLetter>div>p{
        font-size: 14px;
        color: var(--clr-white);
        text-align: left;
        margin-top: 12px;
    }
}

.emailInput{
    font-size: 12px;
    padding: 15px 28px;
    background-color: var(--clr-white);
    color: black;
    width: 100%;
    border-radius: var(--border-r);
    margin-top: 25px;
    margin-inline: auto ;

}

.emailInput::placeholder{
    font-size: 12px;
    color: #828282;
}

@media (min-width:76.25em) {
    .emailInput{
        font-size: 14px;
        padding: 30px 26px;
        background-color: var(--clr-white);
        color: black;
        width: 461px;
        border-radius: 10px 0px 0px 10px;
        margin-top: 0;
    
    }
    
    .emailInput::placeholder{
        font-size: 14px;
        color: #828282;
    }
}

.submitBtn{
    background: #000;
    color: var(--clr-white);
    font-weight: var(--font-sb);
    padding: 26px 39px;
    margin-top: 25px;
    border-radius: var(--border-r);
    margin-inline: auto;
    text-transform: capitalize;
}

@media (min-width:76.25em) {
    
    .submitBtn{
        margin-top: 0;
        border-radius: 0 10px 10px 0;
        padding: 30px 39px;
    }
}


/* Shop for Jewellery */

@media (min-width:76.25em) {
    .jewellaryShop-Wrapper{
        display: flex;
        flex-wrap: wrap;
    }
}

.jewellaryShopCard{
    position: relative;
    width: 343px;
    height: 447px;
    border-radius: var(--border-r);
    margin-inline: auto;
}

.jewellaryShopCard+.jewellaryShopCard{
    margin-top: 20px;
}

.jewellaryShopCard-detail{
    width: 316px;
    height: 187px;
    background-color: var(--clr-white);
    padding: 31px 31px 30px 30px;
    margin-top: -117px;
    margin-left: 14px;
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-r);
}

@media (min-width:76.25em) {
    .jewellaryShopCard{
        width: 384px;
        height: 472px;
    }

    .jewellaryShopCard+.jewellaryShopCard{
        margin-top: 0;
    }

    .jewellaryShopCard-detail{
        width: 352px;
        height: 162px;
        margin-top: -113px;
        margin-left: 16px;
        padding-top: 35px;
        padding-bottom: 34px;
    }
}

.jewellaryShopCard-detail>h3{
    font-size: 18px;
    font-weight: var(--font-sb);
    color: #000;
}

.jewellaryShopCard-detail>div{
    display: flex;
    text-align: center;
    margin-top: 15px;
    border-radius: var(--border-r);
}



.jewellaryShopCard-detail>div >p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.609);
}

.jewellaryShopCard-detail>div >img{
    width: 12px;
    margin-right: 7px;
}

@media (min-width:76.25em) {
    .jewellaryShopCard-detail>div >p{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.609);
    }
    
    .jewellaryShopCard-detail>div >img{
        width: 10px;
        margin-right: 5px;
    }
}

.jewellaryShopCard-detail>a{
    color: var(--clr-white);
    padding: 18px 39px;
    background-color: #000;
    border-radius: 5px;
    font-size: 15px;
    font-weight: var(--font-m);
    text-transform: capitalize;
    margin-top: 27px;
}
.jewellaryShopCard-detail>a:hover{
    background-color: var(--clr-red);
}


/* Blog Post section  */


@media (min-width:76.25em) {
    .blogPostCard-wrapper{
        display: flex;
        gap: 32px;
    }
}

.blogPostCard{
    width: 343px;
    height: 516px;
    background-color: var(--clr-white);
    border: 1px solid #DDDDDD;
    padding: 11px;
    border-radius: var(--border-r);
    display: block;
    margin-inline: auto;
}

.blogPostCard:hover{
    border: 1px solid var(--clr-red);
}

.blogPostCard +.blogPostCard{
    margin-top: 20px;
}


@media (min-width:76.25em) {
    .blogPostCard{
        width: 384px;
        height: 549px;
        padding: 15px;
    }

    .blogPostCard +.blogPostCard{
        margin-top: 0px;
    }
}

.blogPostCard-detail{
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.blogPostCard-detail>div{
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.blogPostCard-detail>div:first-child>img{
    width: 11px;
}

.blogPostCard-detail>div:nth-child(2){
    margin-left: 15px;
}

.blogPostCard-detail>div:nth-child(2)>img{
    width: 9px;
}

.blogPostCard-detail>div:nth-child(2)>p{
    color: var(--clr-red);
}

.blogPostCard-detail>div:last-child{
    margin-left: auto;
}


.blogPostCard-detail>div:last-child>img{
    width: 17px;
}

.blogPostCard-detail>div>p{
    font-size: 10px;
    color: #535353;
    text-align: center;
    width: fit-content;
    margin-left: 5px;
}


@media (min-width:76.25em) {
    .blogPostCard-detail>div:first-child>img{
        width: 15px;
    }

    .blogPostCard-detail>div:nth-child(2){
        margin-left: 12px;
    }

    .blogPostCard-detail>div:nth-child(2)>img{
        width: 12px;
    }

    
    .blogPostCard-detail>div:last-child>img{
    width: 20px;
    }

    .blogPostCard-detail>div>p{
        font-size: 13px;
    }
}

.blogPostCard>h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-m);
    letter-spacing: 2%;
    margin-top: 20px;
    color: #000;

}

@media (min-width:76.25em) {    
    .blogPostCard>h3{
        font-size: 21px;
    }
}

.blogPostCard>p {
    font-family: 'Montserrat', sans-serif;
    color: #7E7E7E;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 3%;
}

@media (min-width:76.25em) {    
    .blogPostCard>p {
        font-size: 15px;
        margin-top: 20px;
    }
}


/* Accessories shop section  */

@media (min-width:76.25em) {
    .acceShopCard-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        gap: 32px;
    }
}

.acceShopCard{
    width: 343px;
    height: 352px;
    border-radius: var(--border-r);
    position: relative;
    margin-inline: auto;

}

.acceShopCard + .acceShopCard{
    margin-top: 20px;
}

@media (min-width:76.25em) {
    .acceShopCard + .acceShopCard{
        margin-top: 0px;
    }
}

@media (min-width:76.25em) {   
    .acceShopCard{
        width: 592px;
        height: 398px;
    }
}


.acceShopCard-detail{
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: var(--clr-white);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

@media (min-width:76.25em) {   
    .acceShopCard-detail{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 26px;
    }
}

.acceShopCard-detail>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:76.25em) {  
    .acceShopCard-detail>div{
        align-items: flex-start; 
    }
}

.acceShopCard-detail>div>h3{
    font-size: 18px;
    color: #000;
    font-weight: var(--font-sb);
}

.acceShopCard-detail>div>div{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

@media (min-width:76.25em) {  
    .acceShopCard-detail>div>div{
        margin-top: 15px; 
    }
}

.acceShopCard-detail>div>div>img{
    width: 12px;
    margin-right: 7px;
}

.acceShopCard-detail>div>div>p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.601);
    
}

.acceShopCard-detail>a{
    display: block;
    padding: 18px 39px;
    background-color: #000;
    color: var(--clr-white);
    font-size: 15px;
    font-weight: var(--font-m);
    border-radius: 5px;
    margin-top: 13px;
    text-transform: capitalize;
}

.acceShopCard-detail>a:hover{
    background-color: var(--clr-red);
}

@media (min-width:76.25em) {
    .acceShopCard-detail>a{
        margin-top: 0px;

    }    
}

/* check our delhi Button  */
.checkBtn{
    background-color: #000;
    color: var(--clr-white);
    font-size: 20px;
    font-weight: var(--font-m);
    width: 343px ;
    height: 80px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    border-radius: var(--border-r);
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkBtn:hover{
    background-color: var(--clr-red);
}

@media (min-width:76.25em) {
    .checkBtn{
        width: 428px ;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

/* note  */

.note{
    background-color: #FBFBFB;
    padding: 35px 14px;
    border-radius: var(--border-r);
}

.note>h2{
    font-size: 22px;
    font-weight: var(--font-m);
    color: #000;
}



.note>p{
    color: #7B7B7B;
    line-height: 160%;
    font-size: 14px;
    margin-top: 15px;
}

.note> p+p{
    margin-top: 14px;
}

@media (min-width:76.25em) {
    .note{
        padding: 60px 40px;
    }

    .note>h2{
        font-size: 28px;
    }

    
    .note>p{
        font-size: 16px;
        margin-top: 25px;
    }

    .note> p+p{
        margin-top: 20px;
    }
}

#extraText, #lessBtn{
    display: none;
}

#moreBtn, #lessBtn{
    color: var(--clr-red);
    text-decoration: underline;
    cursor: pointer;
}


/* Do you Know Banner */

.doYouKnowBanner{
    position: relative;
    height: 219px;
    width: 100%;
    overflow: hidden;
}

.cover{
    background-image: url('./asset/image/DoYouKnowBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(35px);
    width: 100%;
    height: 219px;
    overflow: hidden;
    margin-top: 40px;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -2;
}

.blackLayer{
    background-color: rgba(0, 0, 0, 0.403);
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (min-width:76.25em) {

    .doYouKnowBanner{
        height: 250px;
        display: flex;
        align-items: center;
    }
    .cover{
    background-image: url('./asset/image/DoYouKnowBannerD.png');
    }

    .bg-container{
        padding-top: 76px;
        padding-bottom: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.doYouKnow-textArea{
    
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width:76.25em) {
    .doYouKnow-textArea{
        flex-direction: row;
        align-items: center;
    }
}

.doYouKnow-title{
    font-size: 22px ;
    font-weight: var(--font-sb);
    color: var(--clr-white);
}

.doYouKnow-text{
    color: var(--clr-white);
    font-size: 12px;
}

.doYouKnow-btn{
    padding: 19px 47px ;
    font-size: 14px;
    letter-spacing: 2%;
    background-color: var(--clr-white);
    color: #000;
    text-transform: capitalize;
    border-radius: var(--border-r);
    font-weight: var(--font-sb);
    margin-top: 22px;
    width: fit-content;
    font-size: 14px;
}

.doYouKnow-btn:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
}


@media (min-width:76.25em) {
    .doYouKnow-title{
        font-size: 36px ;
    }
    .doYouKnow-text{
        font-size: 16px;
    }

    .doYouKnow-btn{
        margin-inline: auto;
        margin-top: 0;
        font-size: 16px;
    }

}

/* footer  */

footer{
    margin-top: 50px ;
    margin-bottom: 50px ;
}

.footer-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.one{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 72px;
}


@media (min-width:76.25em) {
    footer{
        margin-top: 100px;
    }
    
    .footer-grid{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 60px;
    } 

    .one{
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.one>a{
    display: block;
}

.one>a>img{
    width: 86px;
}

.one>p{
    font-size: 15px;
    font-weight: var(--font-l);
    color: #666666;
    margin-top: 20px;
}

.socialLinks{
    margin-top: 30px;
}

.link{
    fill: rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

.link:hover{
    fill: rgb(0, 0, 0);
}

.link+.link{
    margin-left: 20px;
}

@media (min-width:76.25em) {

    .two, .three{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.two>h4 , .three>h4{
    font-size: 15px;
    font-weight: var(--font-sb);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pages>a , .bestLehanga>a, .bestPlaces>a, .artificialJewellery>a{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #5E5E5E;
}

.bestLehanga , .artificialJewellery{
    margin-top: 30px;
}

@media (min-width:76.25em) {
    .bestLehanga , .artificialJewellery{
        margin-top: 0;
        margin-left: 65px;
    }
}

.four{
    border-top: 2px solid #E9E9E9;
    text-align: center;
    margin-top: 50px;
}

@media (min-width:76.25em) {
    .four{
    margin-top: 100px;
    }

    .four-flex{
        display: flex;
        justify-content: space-between;
    }
}

.sitemap, .term, .copyright{
    display: block;
    font-size: 15px;
}

.sitemap{
    color: #000;
    text-decoration: underline;
    margin-top: 17px;
}

.term{
    color: rgba(0, 0, 0, 0.603);
    margin-top: 20px;
}

.copyright{
    color: rgba(0, 0, 0, 0.608);
    margin-top: 40px;
}

@media (min-width:76.25em) {
    .term ,.copyright{
        margin-top: 17px;
    }
}


/* ------------Get Listed pages styling start---------- */

/* other pages nav bar  */

.nav-btns{
    display: flex;
    grid-column-start: 2;
    grid-column-start: 3;
    align-items: center;
}

.nav-btns_first{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0%;
    flex-direction: row-reverse;
}

.sb-search{
    margin-left: 1rem;
    position: relative;
}

.navSerachBar{
    display: none;
    position: relative;

    margin-left: -300px;
    background-color: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 15px;
    height: 54px;
    display: none;
}

.sb-search_submit{
    background-color: transparent;
    cursor: pointer;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 14px;
    position: absolute;
    top: 0%;
    right: 0%;
}

.sb-icon-search> svg{
    width: 20px;
}

.sb-search-input{
    font-size: 14px;
    border-radius: 15px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 100%;
}

@media (min-width:76.25em) {
    .nav-btns_first{
        flex-direction: row;
    }

    .sb-search{
        position: relative;
    }

    .sb-icon-search{
        display: none;
    }

    .navSerachBar{
        position: relative;
        background-color: var(--clr-white);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        height: 66px;
        width: 283px;
        margin-right: 40px;
    }

    .sb-search_submit{
        padding: 23px 23px 18px 0 ;
    }

    .sb-search-input{
        padding-right: 46px;
    }

    .sb-search-input::placeholder{
        color: #ADADAD;
    }
}


/* page start here  */

/* page Banner  */

.pageBanner{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.652) 0%, rgba(0, 0, 0, 0.361), rgba(0, 0, 0, 0));
    width: 100%;
    min-height: 283px;
    padding-top: 138px;
    position: relative;
}

.pageBanner-bg{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.pageBanner-style{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pageBanner-title{
    font-size: 34px;
    font-weight: var(--font-sb);
    color: var(--clr-white);
}

.pageBanner-links{
    margin-top: 25px;
}

.pageBanner-links>a{
    color: var(--clr-white);
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
}

.pageBanner-links>a+a{
    margin-left: 8px;
}

.pageBanner-links>a:not(:last-child)::after{
    content: ' |';
    position: absolute;
    right: -8px;
    top: 50%;
    color: var(--clr-white);
    transform: translateY(-50%);
    font-size: 15px;
}

@media (min-width:76.25em) {
    .pageBanner{
        min-height: 352px;
        padding-top: 181px;
    }

    .pageBanner-title{
        font-size: 58px;
        font-weight: var(--font-b);
        line-height: 58px;
    }

    .pageBanner-links{
        margin-top: 40px;
    }

}


/* page content  */

 /* watch video section  */
.watchVideo{
    margin-inline: auto;
    max-width: 488px;
}



.sectionHeading{
    font-weight: var(--font-sb);
    color: #000;
    font-size: 28px;
}



.howToVideo{
    width: 100%;
    margin-top: 30px;
}

.sectionHeading2{
    font-size: 20px;
    font-weight: var(--font-sb);
    margin-top: 40px;
}

@media (min-width:76.25em) {
    .watchVideo{
        margin-inline: 0;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #FAFAFA;
        border-radius: var(--border-r);
    }

    .sectionHeading{
        font-size: 22px;
    }

    .sectionHeading2{
        font-size: 22px;
    }

    .watchPara{
        letter-spacing: 3%;
    }
}

.watchPara{
    line-height: 161%;
    color: #656565;
    margin-top: 15px;
}

.extraM{
    margin-bottom: 50px;
}

.paraLink{
    color: var(--clr-red);
    font-weight: var(--font-m);
}

.pressRelease{
    margin-top: 50px;

}

.pressRelease-title{
    font-weight: var(--font-b);
    font-size: 22px;
    margin-bottom: 25px;
}

.pressRelease-article>h4{
    font-size: 18px;
    color: var(--clr-red);
    text-decoration: underline;
    font-weight: var(--font-sb);
}

.pressRelease-article+.pressRelease-article{
    margin-top: 30px;
}


/* get linked section  */



.getLinked{
    margin-top: 50px;
    /* max-width: 343px; */
    margin-inline: auto;
}

@media (min-width:76.25em) {
    .watch_listed{
        display: flex;
        gap: 60px;
    }

    .getLinked{
        margin-top: 00px;
    }
}

.getLinked-title{
    font-size: 36px;
    color: #000;
    font-weight: var(--font-r);
    margin-bottom: 25px;
    text-transform: capitalize;
}



.formPart-title{
    margin-top: 20px;
    font-size: 18px;
    font-weight: var(--font-m);
    color: rgba(0, 0, 0, 0.604);
    text-transform: uppercase;
}



.form_input{
    font-size: 14px;
    padding: 20px 15px;
    width: 100%;
    margin-top: 16px;
    background-color: #FDFDFD;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    resize: none;
}

.form_input::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    color: #797979;
}

.form_input + .form_input {
    margin-top: 12px;
}

.checkBox-title{
    font-size: 13px;
    color: #000;
    font-weight: var(--font-r);
    margin-top: 20px;
}


.form-Boxgroup{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width:76.25em) {
    .getLinked-title{
        font-size: 42px;
    }

    .formPart-title{
        font-size: 22px;
        margin-top: 30px;
    }

    .form_input{
        font-size: 16px;
        padding: 27px 20px;
    }

    .form_input::placeholder{
        font-size: 16px;
    }

    .form_input + .form_input {
        margin-top: 15px;
    }

    .checkBox-title{
        font-size: 15px;
        margin-top: 25px;

    }

    .form-Boxgroup>div{
        margin-top: 20px;
        margin-right: 15px;
    }
}




.form-Box{
    position: relative;
      border: 2px solid #000;
      border-radius: 2px;
      background: none;
      cursor: pointer;
      line-height: 0;
      margin: 0 .4rem 0 0;
      outline: 0;
      padding: 0 !important;
      vertical-align: middle;
      height: 18px;
      width: 20px;
      -webkit-appearance: none;
    opacity: 1;
}

.form-Box:checked {
    background-color: #000;
    opacity: 1;
}

.form-Box:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
  }

  
.form-Box_labels{
    font-size: 14px;
    color: #797979;
    margin-left: -6px;
    margin-right: 12px;
    position: relative;
    cursor: pointer;
}


  .form-radio_group{
    display: flex;
  }

  .form-radio_group> div+div{
    margin-left: 20px;
  }

  .form-radio{
    appearance: none;
    accent-color: #000;
    position: relative;
    width: 23px;
    height: 23px;
    vertical-align: middle;
  }

  .form-radio:checked::before{
    background-color: #000;
  }

  .form-radio::before{
    content:  '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 23px;
    height: 23px;
    border: 1px solid #CBCBCB;
    border-radius: 50%;
    background: #FCFCFC;

  }

  .form-radio_label{
    font-weight: var(--font-m);
    font-size: 14px;
    margin-left: 10px;
    text-transform: capitalize;
  }


  .form-radio_title{
    font-size: 16px;
    font-weight: var(--font-r);
    color: #626262;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .form-radio_group2{
    margin-top: 20px;
  }

  @media (min-width:76.25em) {
    .form-radio_group2{
        margin-top: 30px;
    }
  }

  .form-radio_container{
    display: flex;
  }

  .form-radio_container> div:last-child{
    margin-left: 30px;
  }

  .form_file::-webkit-file-upload-button{
    visibility: hidden;
  }

  .form_file{
    width: 100%;
    margin-top: 16px;
    background-color: #FDFDFD;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    padding: 11px 0px 11px 11px ;
    pointer-events: none;
  }

  .form_file::before {
    content: 'choose files';
    display: inline-block;
    background: #FFFDFD;
    color: var(--clr-red);
    border: 1px solid var(--clr-red);
    border-radius: 5px;
    padding: 13px 25px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: var(--font-m);
    font-size: 14px;
    text-transform: capitalize;
    pointer-events: all;
  }

  @media (min-width:76.25em) {
    .form_file::before {
        font-size: 16px;
    }
  }

  .form_file:hover:before{
    background-color: var(--clr-red);
    color: var(--clr-white);
  }

  .form_terms{
    margin-top: 16px;
  }

 

  .form_btns{
    margin-top: 40px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin-inline: auto;
  }

 


  .form_btns>button{
    font-size: 15px;
    font-weight: var(--font-sb);
    text-transform: capitalize;
    /* vertical-align: middle; */
    border-radius: var(--border-r);
  }

  .form_btns>button+button{
    margin-top: 25px;
  }

  @media (min-width:76.25em) {
    .form_btns{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .form_btns>button{
        font-size: 16px;
    }

    .form_btns>button+button{
        margin-top: 0;
    }
  }

  

  .form-submitBtn{
    padding: 24px 75px;
    background-color: var(--clr-red);
    color: var(--clr-white);

  }

  .form-submitBtn:hover{
    background-color: #000;
  }

  .form-resetBtn{
    padding: 24px 81px;
    background-color: var(--clr-white);
    color: #000;
    border: 1px solid #9E9E9E;
  }

  .form-resetBtn:hover{
    background-color: #000;
    color: var(--clr-white);
  }

  .sectionTitle_25{
    font-weight: var(--font-b);
    font-size: 25px;
    color: #000;
  }

  /* horizontal Scroll Blog post card  */

  .cardHorizontal_container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .cardHorizontal_container>.blogPostCard{
      flex: 0 0 auto;
  }

  .cardHorizontal_container>.blogPostCard+.blogPostCard{
    margin-top: 0;
    margin-left: 12px;
  }


  .cardHorizontal_container::-webkit-scrollbar,
  .cardHorizontal_container::-webkit-scrollbar-thumb,
  .cardHorizontal_container::-webkit-scrollbar-track { 
      height: 0px;
      border: none;
      background: transparent;
      display: none;
  }

  .cardHorizontal_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .cardHorizontal_arrow-left,
  .cardHorizontal_arrow-right{
    opacity: 0.6;
  }

  .cardHorizontal_arrow-left:hover,
  .cardHorizontal_arrow-right:hover{
    opacity: 1;
  }

  .cardHorizontal_arrow-right{
    margin-left: 35px;
  }

/* ------------ Get listed Page End Here  ------------------*/

/*------------- Delhi City Page Start here  ----------------*/
.pageBanner-title_cityPage{
    font-size: 24px;
    font-weight: var(--font-sb);
    color: var(--clr-white);
}

@media (min-width:76.25em) {
    .pageBanner-title_cityPage{
            font-size: 58px;
            font-weight: var(--font-b);
            line-height: 58px;
    
    }
}

.cityPage_nav{
    background-color: #F8F8F8;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
}

.cityPage_nav>a{
    font-size: 16px;
    font-weight: var(--font-m);
    color: #000;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.cityPage_nav>a+a{
    margin-left: 8px;
}

.cityPage_nav>a:hover{
    color: var(--clr-red);
}

/* .cityPage_nav>a:first-child{
    color: var(--clr-red);
} */

.cityPage_nav>a:not(:first-child){
    margin-left: 16px;
}

.cityPage_nav>a:not(:last-child)::after{
    content: ' |';
    position: absolute;
    right: -8px;
    top: 50%;
    color: #CCCFD7;
    transform: translateY(-50%);
    font-size: 16px;
}

@media (min-width:76.25em) {
    .cityPage_nav>a{
        font-size: 18px;
    }

    .cityPage_nav>a:not(:first-child){
        margin-left: 20px;
    }

    .cityPage_nav>a+a{
        margin-left: 12px;
    }

    .cityPage_nav>a:not(:last-child)::after{
        font-size: 18px;
        right: -12px;
    }
}






.cityPage_section-markets{
    display: grid;
    gap: 16px;
    width: 343px;
    margin-inline: auto;
    margin-top: 34px;
}

.cityPage_section-title{
    font-size: 20px;
    font-weight: var(--font-b);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

@media (min-width:76.25em) {
    
    .cityPage_section-markets{
        margin-top: 100px;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 332px 332px;
        gap: 32px;
    }

    .cityPage_section-markets> h2 +.bestMarket-card_city{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 2/3;
    }

    .cityPage_section-title{
        font-size: 48px;
        text-align: left;
        grid-column-start:1 ;
        grid-column-end: 3;
    }
}

.cityPage_sectionBtn{
    width: 183px;
    height: 56px;
    color: var(--clr-red);
    font-weight: var(--font-sb);
    border: 1px solid var(--clr-red);
    border-radius: var(--border-r);
    display: block;
    margin-inline: auto;
    letter-spacing: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cityPage_sectionBtn:hover{
    background-color: var(--clr-red);
    color: var(--clr-white);
}

@media (min-width:76.25em) {
    .cityPage_sectionBtn{
        width: 227px;
        height: 74px;
        margin: 0px;
        margin-left: auto;
        grid-column-start:3 ;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end:2 ;
    }
}


.bestMarket-card_city--first{
    width: 100%;
    position: relative;
    border-radius: var(--border-r);
    overflow: hidden;
}

.bestMarket-card_city{
    width: 100%;
    position: relative;
    border-radius: var(--border-r);
    overflow: hidden;
}

.bestMarket-card_city--first>img{
    object-fit: cover;
}

.bestMarket-card_city>img{
    object-fit: cover;
}

.bestMarket-card_city-text--first{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    border-radius: var(--border-r);
    padding-bottom: 24px;
    padding-inline: 21px;
    justify-content: space-between;
}


.bestMarket-card_city-text{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    border-radius: var(--border-r);
    padding-bottom: 24px;
    padding-inline: 21px;
    justify-content: space-between;
}

.bestMarket-card_city-text--first>div>h3{
    font-size: 24px;
    color: var(--clr-white);
}

.bestMarket-card_city-text--first>div>p{
    font-size: 14px;
    color: var(--clr-white);
    text-transform: capitalize;
}

.bestMarket-card_city-text--first>a{
    width: 40px;
}


.bestMarket-card_city-text>div>h3{
    font-size: 24px;
    color: var(--clr-white);
}

.bestMarket-card_city-text>div>p{
    font-size: 14px;
    color: var(--clr-white);
    text-transform: capitalize;
}

.bestMarket-card_city-text>a{
    width: 40px;
}


.bestMarket-card_city-text>a:hover ,
.bestMarket-card_city-text--first>a:hover{
    transform: scale(1.5);
}



@media (min-width:76.25em) {
    .bestMarket-card_city--first{

        grid-column: 1/4;
    }  

    .bestMarket-card_city-text--first{
        padding-bottom: 40px;
        padding-inline: 30px;
    }


    .bestMarket-card_city-text{
        padding-bottom: 24px;
        padding-right: 30px;
        padding-left:20px ;
    }

    .bestMarket-card_city-text--first>div>h3{
        font-size: 36px;
    }

    .bestMarket-card_city-text--first>div>p{
        font-size: 20px;
    }
    
    .bestMarket-card_city-text--first>a{
        width: 60px;
    }
    
    .bestMarket-card_city-text>div>p{
        font-size: 18px;
    }

    .bestMarket-card_city-text>a{
        width: 36px;
    }
}


.cityPage_section-mall{
    margin-top: 64px;
    display: grid;
    width: 343px;
    margin-inline: auto;
    gap: 16px;
}

@media (min-width:76.25em) {
    .cityPage_section-mall{
        width: 100%;
        gap: 32px;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto auto;
        margin-top: 100px;
    }

    .cityPage_section-mall>h2{
        grid-column: 1/2;
    }

    .cityPage_section-mall>.cityPage_sectionBtn{
        grid-column: 2/3;
    }

    .cityPage_section-mall>h2+div{
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .bestMall-sec{
        grid-column: 2/3;
        grid-row: 2/3;
        height: 284px;
    }

    .bestMall-third{
        grid-column: 2/3;
        grid-row: 3/4;
        height: 284px;
    }
}


.bestMall-card_city{
    width: 100%;
    position: relative;
    border-radius: var(--border-r);
    overflow: hidden;
}

.bestMall-card_city>img{
    object-fit: cover;
}

.bestMall-card_city--text{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    border-radius: var(--border-r);
    padding-bottom: 24px;
    padding-inline: 21px;
    justify-content: space-between;
}

.bestMall-card_city--text>div>h3{
    font-size: 24px;
    color: var(--clr-white);
}

.bestMall-card_city--text>div>p{
    font-size: 14px;
    color: var(--clr-white);
    text-transform: capitalize;
}

.bestMall-card_city--text>a{
    width: 40px;
}
.bestMall-card_city--text>a:hover{
    transform: scale(1.5);
}

/* .bestMall-card_city--text */


@media (min-width:76.25em) {
    .bestMall-card_city--text{
        padding-left:35px;
        padding-right:50px;
        padding-bottom:25px;
    }

    .bestMall-card_city--text>div>h3{
        font-size: 32px;
    }
    
    .bestMall-card_city--text>div>p{
        font-size: 20px;
    }
    
    .bestMall-card_city--text>a{
        width: 56px;
    }
}


.bestShop-section_cityPage{
    margin-top: 64px;
    display: grid;
    width: 343px;
    margin-inline: auto;
    gap: 16px;
}



.bestShop-card_city{
    width: 100%;
    position: relative;
    border-radius: var(--border-r);
    overflow: hidden;
    height: 345px;
}

.bestShop-card_city>img{
    object-fit: cover;
}

.bestShop-card_city--text{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    border-radius: var(--border-r);
    padding-bottom: 24px;
    padding-inline: 21px;
    justify-content: space-between;
}

.bestShop-card_city--text>div>h3{
    font-size: 24px;
    color: var(--clr-white);
}

.bestShop-card_city--text>div>p{
    font-size: 14px;
    color: var(--clr-white);
    text-transform: capitalize;
}

.bestShop-card_city--text>a{
    width: 40px;
}
.bestShop-card_city--text>a:hover{
    transform: scale(1.5);
}

@media (min-width:76.25em) {
    .bestShop-section_cityPage{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        width: 100%;
    }

    .bestShop-section_cityPage>h2{
        grid-column: 1/4;
    }

    .bestShop-section_cityPage>.cityPage_sectionBtn{
        grid-column: 4/5;
    }

    .bestShop-card_city--text{
        padding-bottom: 25px;
        padding-left: 15px;
        padding-right:12px ;
    }
    
    .bestShop-card_city--text>div>h3{
        font-size: 20px;
    }
    
    .bestShop-card_city--text>div>p{
        font-size: 15px;
    }
    
    .bestShop-card_city--text>a{
        width: 26px;
    }

    .bestShop_first{
        grid-column: 1/3;
        grid-row: 2/4;
        height: 100%;
    }

    .bestShop_first>.bestShop-card_city--text{
        padding-bottom: 44px;
        padding-left: 25px;
        padding-right:40px ;
    }
    
    .bestShop_first>.bestShop-card_city--text>div>h3{
        font-size: 36px;
    }
    
    .bestShop_first>.bestShop-card_city--text>div>p{
        font-size: 20px;
    }
    
    .bestShop_first>.bestShop-card_city--text>a{
        width: 60px;
    }
}

.mapForMobile-section{
    margin-top: 64px;
    width: 343px;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin-inline: auto;
    padding: 24px 32px;
}

.mapForMobile-section>h2{
    font-size: 20px;
    font-weight: var(--font-b);
    text-align: center;
    text-transform: uppercase;
}

@media (min-width:76.25em) {
    .mapForMobile-section{
        display: none;
    }

    .bestShop_clothing-m{
        display: none;
    }

    .bestShop_cloth-D{
        background-color: var(--clr-white);
    }
}


.bestShopCard_clothing-citypage{
    position: relative;
    padding: 12px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: var(--border-r);
    width: 384px;
    height: 391px;
    display: block;
}

.bestShopCard_clothing_cityPage-title{
    font-size: 24px;
    font-weight: var(--font-m);
    color: #000;
    margin-top: 15px;
}

.bestShop_clothing-citypage-D-wrapper{
    display: none;
    justify-content: space-between;
}

.bestShopCard_clothing_cityPage-title+div{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.bestShopCard_clothing_cityPage-title+div>img{
    width: 15px;
    margin-right: 7px;
}

.bestShopCard_clothing_cityPage-title+div>img+p{
    color: rgba(0, 0, 0, 0.603);
}

@media (min-width:76.25em) {
    .bestShop_clothing-citypage-D-wrapper{
        display: flex;
    }
}

/* 

.shopBox-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 13px;
    margin-inline:auto ;
}

@media (min-width:76.25em) {
    .shopBox-wrapper{
        gap:  32px;
    }
}

.shopBox{
    width: 100%;
    position: relative;
    border-radius: var(--border-r);
    overflow: hidden;
}

.shopBox>img{
    object-fit: contain;
}

.shopBox:first-child{
    grid-row-start:1 ;
    grid-row-end:3 ;
}





.shopBox-text{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    border-radius: var(--border-r);
    padding-bottom: 17px;
    padding-left: 6px;
    padding-right: 2px;
    justify-content: space-between;
}

@media (min-width:76.25em) {
    .shopBox-text{
        padding-bottom: 40px;
        padding-left: 35px;
        padding-right: 50px;
    }
}

.shopBox-text>div>h3{
    font-size: 12px;
    color: var(--clr-white);
}
.shopBox-text>div>p{
    font-size: 10px;
    color: var(--clr-white);
}

.shopBox-text>a{
    width: 26px;
}

.shopBox-text>a:hover{
    transform: scale(1.5);
}

@media (min-width:76.25em) {
    .shopBox-text>div>h3{
        font-size: 32px;
    }

    .shopBox-text>div>p{
        font-size: 20px;
    }
    
    .shopBox-text>a{
        width: 56px;
    }
} */



/*-------------  Delhi City Page end here   ----------------*/